extends layout.pug
block content
    include utils.pug
    h1= header 
    div(class='someClass' id=`id-${header}`) This is the index page
    .otherClass.anotherClass#anotherId This is another div
    table
        thead
            tr
                th Name
                th Favorite Bread
                th Email
                th Password
        tbody
            each user in users
                +userRow(user)