html 
    head 
        title= title
        link(rel="stylesheet", href="/css/test.css")
    body
        nav
            ul 
                li: a(href="/users") Users
                li: a(href="/posts") Create New Post
        block content
        footer
            div About the Developers
        block otherContent